.viewAllBtn {
  background-color: transparent;
  border: 1px solid #0000001a;
  padding-block: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.viewAllext {
  color: #000;
  margin: 0;
  font-size: 16px;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
}

.viewAllBtn:hover {
  background-color: #000;
  border-color: #000;
}

.viewAllBtn:hover .viewAllext {
  color: #fff;
}
