.container {
  width: 1239;
  height: 866;
  top: 2417px;
  left: 100px;
  opacity: 1;
  border-radius: 40px;
  background: #f0f0f0;
}

.styleContainer {
  width: 684;
  height: 20rem;
  top: 501px;
  left: 64px;
  opacity: 1;
  border-radius: 20px;
  background: #ffffff;
}

.styleTitle {
  width: 89;
  height: 49;
  top: 25px;
  left: 36px;
  opacity: 1;
}

.casual,
.formal,
.party,
.gym {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;
}

.casual {
  background-image: url("@assets/images/casual.png");
}

.formal {
  background-image: url("@assets/images/formal.png");
}

.party {
  grid-column: span 1;
  background-image: url("@assets/images/party.png");
}

.gym {
  grid-column: span 1;
  background-image: url("@assets/images/gym.png");
}
