.bm-burger-button {
  position: relative;
  width: 20px;
  height: 20px;
  /* top: 0px;
  left: 0px; */
}

.bm-burger-bars {
  background: black;
  border-radius: 24%;
}

.bm-menu {
  background: #fff;
  padding: 2rem;
}

.bm-item {
  color: #000;
  padding: 1rem;
  text-decoration: none;
  display: block;
}
