.bm-burger-button {
  position: relative;
  width: 20px;
  height: 20px;
  left: 20px;
  display: none;
}

.bm-burger-bars {
  background: black;
  border-radius: 24%;
}

.bm-menu {
  background: #fff;
  padding: 2rem;
}

.bm-item {
  color: #000;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.bm-menu-wrap {
  top: 0 !important;
  height: 100vh !important;
}

.bm-overlay {
  top: 0 !important;
  height: 100vh !important;
}

@media (max-width: 768px) {
  .bm-burger-button {
    display: block;
  }
}
