.wrapper {
  position: relative;
  flex: 1 1 0;
  min-width: 0;
  margin: 0 12px;
  display: flex;
  align-items: center;
}

.wrapper .input {
  width: 100%;
  padding: 8px 15px 8px 36px;
  border-radius: 25px;
  border: 1px solid #f0f0f0;

  background-color: #f0f0f0;
  outline: none;
  transition: all 0.2s;
}

.wrapper .inputIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}

.wrapper .input:focus {
  border-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
